:root {
	--default-margin: 0.5rem;
	--default-padding: 0.5rem;
	--background-body: #808080;
	--background-canvas: #000044;
	--text-color: #ffffff;
	--border: 0.25rem solid #000000;
	--box-shadow: 0px 10px 5px #00000080;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	background-color: rgb(37, 37, 37);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	background-color: var(--background-body);
	width: 100%;
	max-width: 600px;
	height: 100vh;
}

.title {
	background-color: #000000;
	color: var(--text-color);
}

.animation-canvas {
	border: var(--border);
	background-color: var(--background-canvas);
	box-shadow: var(--box-shadow);
	width: 100%;
	image-rendering: pixelated;
}

.preview-canvas__container {
	border: var(--border);
	width: 100%;
	overflow-y: scroll;
}

.preview-canvas {
	background-color: var(--background-canvas);
	box-shadow: var(--box-shadow);
	height: 100%;
	image-rendering: pixelated;
}
